@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
                  
                <span class="d-inline align-items-end">Cargar Excel<a class="btn btn-info" asp-action="ExportarData">Reporte Excel</a></span>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <form id="form" enctype="multipart/form-data">
                            <input class="form-control-file" type="file" id="inputExcel" name="FileExcel" />
                        </form>                    
                      </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning show-file" onclick="mostrarDatos()">Mostrar Datos</button>
                        <button class="btn btn-success save-file" onclick="enviarDatos()">Enviar Datos a BD</button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Telefono</th>
                                    <th>Correo</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


    <script>
        const cargando = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          <b>Cargando...</b>`;

        function mostrarDatos() {
            const url = "@Url.Action("ShowData", "Home")/";
            //const url = "@Url.Action("GenerateExcel", "Home")/";
            const formData = new FormData($("#form")[0]);

            $.ajax({
                url: url,
                data: formData,
                method: 'POST',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('.show-file').html(cargando);
                }
            })
            ///.then((response) => { return response.json() })
            .done((dataJson) => {
                console.log(dataJson);
                    $('.show-file').html('Mostrar Datos');
                dataJson.forEach((item) => {
                    $("#tbData tbody").append(
                        $("<tr>").append(
                            $("<td>").text(item.nombre),
                            $("<td>").text(item.apellido),
                            $("<td>").text(item.telefono),
                            $("<td>").text(item.correo)
                        )

                    )
                })

            })
            .fail((error)=>{
                $('.show-file').html('Mostrar Datos');
                console.error(error);
            })

        }
        function enviarDatos() {
            const url = "@Url.Action("SaveData", "Home")/";
            const formData = new FormData($("#form")[0]);

            $.ajax({
                url: url,
                data: formData,
                method: 'POST',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('.save-file').html(cargando);
                }
            })
                ///.then((response) => { return response.json() })
                .done((dataJson) => {
                    console.log(dataJson);
                    $('.save-file').html('Enviar Datos a BD');

                })
                .fail((error) => {
                    $('.save-file').html('Enviar Datos a BD');
                    console.error(error);
                })

        }
        /*function mostrarDatos1() {
        var url = "@Url.Action("ShowData", "Home")/"
        const objeto = $("#form").serialize();
        console.log(objeto)
        $.post(url, objeto).done(function (result) {
        console.log(result)
        }).fail((error) => {
        })

        }*/
        /*function mostrarDatos(){
            const formData = new FormData($("#form")[0])
            const input = document.getElementById("inputExcel")
            const formData2= new FormData();
            var url = "@Url.Action("ShowData", "Home")/"
            formData2.append("FileExcel",input.files[0])
            console.log(formData)
            //const objeto = $("#form").serialize();
           //console.log(objeto)
            $.post(url, objeto).done(function (result) {
                console.log(result)
            }).fail((error) => {
            
            })
           
            $.ajax({
                url: "/Home/ShowData",
                data: formData,
                method: 'POST',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
            })
                .then((response) => { return response.json() })
                .then((dataJson) => {


                    dataJson.forEach((item) => {
                        $("#tbData tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.nombre),
                                $("<td>").text(item.apellido),
                                $("<td>").text(item.telefono),
                                $("<td>").text(item.correo)
                            )

                        )
                    })

                })
            fetch("/Home/ShowData", {
                method: "POST",
                body: formData2
            }).then((response) => { return response.json() })
                .then((dataJson) => {


                    dataJson.forEach((item) => {
                        $("#tbData tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.nombre),
                                $("<td>").text(item.apellido),
                                $("<td>").text(item.telefono),
                                $("<td>").text(item.correo)
                            )

                        )
                    })
        }*/
    </script>
}
